// Add here overriding custom scss 

// text within post
body {
    text-align: justify;
    font-size: 0.9rem;
}

// header 1
h1 {
    font-size: 1.9rem;
  }

// header 2   
h2 {
    margin-top: 1rem;
    font-size: 1.45rem;
  }

// post container
.article-container {
    max-width: 760px;
    }    

// top of post, where name, data, tag is
.article-metadata {
    font-size: 14px; 
}

// footnote size
.footnotes { font-size: 0.75rem }