// Add here overriding custom scss 

// text within post
body {
    text-align: justify;
    font-size: 0.9rem;
}

// header 1
h1 {
    font-size: 1.9rem;
  }

// header 2   
h2 {
    margin-top: 1rem;
    font-size: 1.45rem;
  }

// post container
.article-container {
    max-width: 760px;
    }    

// top of post, where name, data, tag is
.article-metadata {
    font-size: 14px; 
}

// footnote size
.footnotes { font-size: 0.75rem}

section#about div.container{
  max-height: 34.5rem;
  }

section#skills div.container{
  max-height: 60rem;
  margin-block-start: -5%;
  margin-block-end: -5%;
}

section#habilidades div.container{
  max-height: 60rem;
  margin-block-start: -5%;
  margin-block-end: -5%;
}

section#experience div.container{
  max-height: 75rem;
  margin-block-start: -5%;
}

section#posts div.container{
  margin-block-start: -3%;

}

section#contact div.container{
  margin-block-start: -4.5%;
  margin-bottom: -5%;
}